@font-face {
    font-family: "Meta";
    src: url("../font/meta-normal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Reset Css */

body {
    font-family: "Meta", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Meta;
    background: #e1ede0;
}

h1 {
    color: #1e6443;
}

.card-header {
    background: #3b7454;
}

.titulo {
    align-items: center;
}

@media (max-width: 575.98px) {
    h1{
        font-size: 1.5em;
    }
}