@font-face {
    font-family: "Meta";
    src: url("../font/meta-normal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Reset Css */

body {
    font-family: "Meta", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Meta;
}

.conteudo {
    margin: 0 auto;
    max-width: 620px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.meio {
    width: 100%;
    height: 400px;
}

@media (max-width: 575.98px) {
    .meio {
        height: 400px;
    }
    .conteudo {
        min-height: auto;
    }
}